main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
  position: relative;

  .content {
    width: 100%;
    margin-bottom: 3rem;
  }
}
h1 {
  font-family: sans-serif;
  text-transform: capitalize;
  color: tomato;
}
